### Create a dataframe from json
cat /usr/local/spark/examples/src/main/resources/people.json

In [ ]:
{"name":"Michael"}
{"name":"Andy", "age":30}
{"name":"Justin", "age":19}

In [ ]:
people = spark.read.json("/usr/local/spark/examples/src/main/resources/people.json")

### Display a dataframe

In [ ]:
people.show()

### Print the schema of dataframe

In [ ]:
people.printSchema()

### Select all column of a dataframe

In [ ]:
people.select("*").show()

### Select a specefic column of a dataframe

In [ ]:
people.select('age').show()

### Apply a transformation to a dataframe

In [ ]:
df = people.select(people.name,(people.age+10))
df.show()

### Add an alias to a column

In [ ]:
df = people.select(people.name,(people.age+10).alias('age'))
df.show()

### Create a dataframe from a list

In [ ]:
data=[('Alice',1),('Bob',2)]
df=sqlContext.createDataFrame(data,['name','age'])
df.show()
df.printSchema()

### Use a UDF (USER DEFINED FUNCTION)

In [ ]:
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf

doubled = udf(lambda s:s*2, IntegerType())



df2 = df.select(df.name,doubled(df.age).alias('age'))
df2.show()

### Apply a filter

In [ ]:
df3 = df2.filter(df2.age>3)
df3.show()

### Deduplicate a dataframe

In [ ]:
data = [('Alice',1),('Bob',2),('Bob',2)]
df = sqlContext.createDataFrame(data,['name','age'])
df.show()
df = df.distinct()
df.show()

### Sort by a key (column)

In [ ]:
df = df.sort('age')
df.show()

### Group by function

In [ ]:
data = [('Alice', 'Paris',30),('Elie', 'Lille',28),('Joe', 'Lyon',39),('Franc','Lyon',47)]
df = sqlContext.createDataFrame(data,['nom','ville','age'])
df.show()
df.groupBy(df.ville).avg().show()

In [ ]:
data=[('Alice',1,6),('Bob',2,8),('Alice',3,9),('Bob',4,7)]
df=sqlContext.createDataFrame(data,['name','age','grade'])
df.groupBy('name').avg().show()

In [ ]:
df.groupBy('name').avg('age','grade').collect()

In [ ]:
df.groupBy('name').avg('age').collect()

In [ ]:
df.groupBy().avg('age','grade').collect()

In [ ]:
df.groupBy().avg('age').collect()

In [ ]:
df.groupBy().avg().collect()

In [ ]:
df.groupBy('name').min('age','grade').collect()